.photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 275px 275px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 20px;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.photo-two {
    grid-column-start: 3;
    grid-row-start: 1;
    border-top-right-radius: 15px;
}

.photo-three {
    grid-column-start: 3;
    grid-row-start: 2;
    border-bottom-right-radius: 15px;
}
