.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px #00000022;
  position: relative;
  font-size: 18px;
}

.card h1, .card h3 {
  display: inline;
}

.card h3 {
  float: right;
}

.about-text {
  padding-bottom: 20px;
}

.card p {
  margin-top: 20px;
}

.card button {
  left: calc(50% - 50px);
  min-width: 120px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  border-radius: 2000em;
  cursor: pointer;
  border: none;
}

.Area-View {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
  background: #eee;
}

@media all and (min-width: 600px) {
  .Area-View {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 92vh;
    padding: 20px;
  }
  .card button {
    bottom: 20px;
    width: 20%; 
  }
}