.Listings {
  flex-direction: row;
  display: flex;
  align-items: center;
  background: #ddd;
  width: 100%;
  padding-top: 10px;
  overflow: scroll;
}

/* desktop */
@media all and (min-width: 600px) {
  .Listings {
    flex-direction: column;
    height: 92vh;
    float: left; 
    width: 320px;
    display: flex;
  }
}