.details-section {
  height: 92vh;
  overflow: scroll;
}

.listings-page h1 {
  font-size: 35px;
  text-align: center;
}

.listing-title-container {
  display: flex;
  width: 50%;
  margin: 20px auto;
  justify-content: center;
}

@media all and (min-width: 600px) {
  .listings-page {
    display: flex;
  }
}

